/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn{
	color: $color_main;
	background-color: $color_main02;
	font-size: 1.4rem;
	line-height: 1.375;
	font-weight: 700;
	padding: 8px 16.37px;
	border-radius: 50px;
	&-radius0{
		border-radius: 5px;
		padding: 8px 50px;
		a{
			font-size: 2.4rem;
			font-weight: 700;
		}
	}
}
.swiper-pagination-bullet{
	background: $color_main02;
	opacity: 0.8;
	&-active{
		background: $color_main;
	}
}
.m-link{
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.38;
	display: flex;
	color: #09A9DB;
	text-decoration: none;
	align-items: center;
}
.btn-close{
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 40px;
	&::after {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		width: 16px;
		height: 2px;
		background: currentColor;
		transform: rotate(45deg);
		border-radius: 5px;
		top: 8px;
		left: 1px;
		transform: rotate(-45deg);
	}
	&::before {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		width: 16px;
		height: 2px;
		background: currentColor;
		transform: rotate(45deg);
		border-radius: 5px;
		top: 8px;
		left: 1px;
	}
}