/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.btn{
	color: $color_main;
	background-color: $color_main02;
	font-size: 1.4rem;
	line-height: 1.375;
	font-weight: 700;
	padding: 8px 16.37px;
	border-radius: 50px;
}
.swiper-pagination-bullet{
	background: $color_main02;
	opacity: 0.8;
	&-active{
		background: $color_main;
	}
}
.m-link{
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.38;
	display: flex;
	color: #09A9DB;
	text-decoration: none;
	align-items: center;
}