/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.ttl{
	font-size: 3.6rem;
	line-height: 1.4;
	color: $color_main;
	font-weight: bold;
  }