/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.c-intro{
	&__txt{
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 1.357;
	}
}
.c-customer{
	&__txt{
		font-size: 1.8rem;
		line-height: 1.37;
		color: $color2;
		bottom: 24px;
		left: 0;
	}
}