/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.c-jintro{
	&__ttl{
		font-size: 4.8rem;
		line-height: 1.35;
		color: $color_main;
		font-weight: 800;
		@include max(992px){
			font-size: 3.4rem;
		}
	}
	&__txt{
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 1.357;
		margin-top: 11px;
	}
	&__link{
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.38;
		display: flex;
		color: #09A9DB;
		text-decoration: none;
		align-items: center;
	}
}
.c-who{
	background-image: url(../../assets/images/job-bg.jpg);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 9rem 0 55rem;
	@include max(992px){
		padding: 6rem 0 37rem;
	}
	@include sp{
		padding: 3rem 0 20rem;
	}
	&__ttl{
		color: $color_main;
		font-weight: 700;
		font-size: 3.6rem;
		line-height: 1.7;
		margin-bottom: 19px;
		&--sub{
			color: $color_main;
			font-weight: bold;
			font-size: 2.4rem;
			line-height: 1.375;
		}
	}
	&__txt{
		max-width: 375px;
		line-height: 1.375;
	}
	&__padding{
		margin-left: 9%;
		@include max(992px){
			margin-left: 6%;
		}
		@include sp{
			margin-left: 0;
			text-align: center;
		}
		&--sub{
			margin-left: 30%;
			@include max(992px){
				margin-left: 15%;
			}
			@include sp{
				margin-left: 0;
			}
		}
	}
}
.c-ceo{
	color: #ffff;
	background-color: #780A0A;
	&__bg{
		align-items: center;
		padding: 5%;	
	}
	img{
		width: 100%;
		height: 100%;
	}
	&__ttl{
		font-weight: normal;
		font-size: 3.6rem;
		line-height: 1.7;
		@include NunitoSerif;
	}
	&__sub{
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1.8rem;
		line-height: 1.38;
	}
	&__txt{
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 1.38;
	}
}
.c-block{
	&02{
		padding: 13rem 0 6rem;
		&__inner{
			max-width: 226px;
			height: 211px;
			background-color: $color_main02;
			margin: 0 auto;
			text-align: left;
			padding: 20px 26px;
		}
		&__link{
			justify-content: center;
		}
		&__ttl{
			&--sub{
				margin-top: 13px;
				font-weight: bold;
				font-size: 3rem;
				line-height: 1.36;
				color: #000000;
				@include NunitoSerif;
			}
		}
		&__txt{
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 1.38;
			margin-top: 10px;
		}
	}
	&__inner{
		max-width: 276px;
		height: 257px;
		background-color: $color_main02;
		margin: 0 auto;
		text-align: left;
		padding: 30px 32px;
	}
	&__ttl{
		&--sub{
			margin-top: 13px;
			font-weight: bold;
			font-size: 2.4rem;
			line-height: 1.375;
			color: $color_main;
			@include sp{
				font-size: 2rem;
			}
		}
	}
	&__txt{
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 1.38;
		margin-top: 5px;
		@include sp{
			font-size: 1.4rem;
		}
	}
}
.c-find{
	padding: 2rem 0 10rem;
	svg{
		margin-right: 20px;
	}
	&__inner{
		max-width: 375px;
	}
	span{
		font-size: 1.8rem;
		line-height: 1.38;
		font-weight: 600;
		 &:nth-child(2){
			 font-weight: 800;
		 }
	}
	li{
		padding:9px 18px 9px 24px;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.c-send{
	margin-bottom: 5rem;
	&__btn{
		background-color: $color_main;
		color: $color_main02;
		border-radius: 0;
		height: 35px;
		margin-left: 1.9rem;
		width: 178px;
		font-size: 1.4rem;
	    line-height: 1.375;
		font-weight: 600;
	}
}
.c-value{
	background-image: url(../../assets/images/bg_jod02.jpg);
	background-size: cover;
	background-position: center;
	&__ttl{
		font-size: 3.6rem;
		line-height: 1.375;
		text-align: center;
		padding: 9.2rem 0;
		color: #FFFA2D;
		position: relative;
		@include NunitoSerif;
		font-weight: 400;
		@include sp{
			font-size: 2.6rem;
		}
		&::before{
			position: absolute;
			content: '';
			width: 79px;
			height: 65px;
			background-image: url('../../assets/images/c-value__queue.png');
			background-size: 79px;
			background-position: center;
			background-repeat: no-repeat;
		}
		&::after{
			position: absolute;
			content: '';
			width: 79px;
			height: 65px;
			background-image: url('../../assets/images/c-value__queue.png');
			background-size: 79px;
			background-position: center;
			background-repeat: no-repeat;
			transform: rotate(180deg) translate(3px, 28px);
		}
	}
	&__ttl02{
		@include Nunito;
		font-weight: bold;
		font-size: 2.4rem;
		&::before, &::after{
			content: none
		}
	}
}