.gg-play-button {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	&::before {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		width: 0;
		height: 10px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 6px solid;
		top: 6px;
		left: 9px;
        color: #09A9DB;
	}
}
.offcanvas-header{
	@include max(767px){
		display: flex;
		justify-content: flex-end;
	}
}
.icon{
	&__01{
		display: inline-block;
		position: relative;
		width: 3.3rem;
		height: 3.3rem;
		background-color: $color_main02;
		border-radius: 50%;
		align-items: center;
		&::before{
			content: '';
			background-image: url(../../assets/images/i01.png);
			height: 18px;
			width: 18px;
			left: 8px;
			bottom: 8px;
			right: 8px;
			position: absolute;
		}
	}
}
.gg-chevron-right {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px;
	&::after {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		width: 10px;
		height: 10px;
		border-bottom: 2px solid;
		border-right: 2px solid;
		transform: rotate(-45deg);
		right: 6px;
		top: 4px;
	}
}
