.c-blog{
    &__banner{
        width: 100%;
        position: relative;
        z-index: 1;
        img{
            width: 100%;
        }
        h1{
            position: absolute;
            top: 35%;
            bottom: 35%;
            z-index: 2;
            left: 0;
            right: 0;
            color: $color_main02;
            font-weight: 800;
            font-size: 6.4rem;
            text-align: center;
            @include sp{
                font-size: 2.4rem;
            }
        }
        
    }
}
.c-content{
    h1{
        font-size: 3.6rem;
        line-height: 1.36;
        font-weight: bold;
        margin: 27px 0 14px;
    }
    h2{
        font-size: 2.4rem;  
        font-weight: bold;
        margin: 27px 0 11px;
    }
    p{
        margin: 15px 0;
        font-weight: 300;
        font-size: 1.4rem;
    }
    figure{
        margin: 0 auto;
        border-radius: 9px;
        text-align: center
    }
    figcaption{
        font-size: 1.2rem;
        text-align: center;
        font-weight: 300;
        font-style: italic;
    }
    &__auth{
        @include flex;
        align-items: center;
        margin-bottom: 28px;
        img{
            width: 23px;
            height: auto;
            border-radius: 50%;
            margin-left: 8px;
        }
        span{
            font-size: 1.2rem;
            font-weight: 300;
            color: #E0E0E0;
            &:first-of-type{
                color: black;
                font-weight: bold;
                margin-left: 8px;
            }
            &:nth-of-type(2){
                margin: 0 35px;
            }
        }
    }
    blockquote{
        background: #E0E0E0;
        border-radius: 5px;
        font-size: 1.6rem;
        font-style: italic;
        padding: 30px 0 30px 100px;
        position: relative;
        &::before{
            background-image: url(../../assets/images/tag.png);
            background-size: 40px;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            content:"";
            display: inline-block;
            position: absolute;
            top: 18px;
            transform: translatex(-24px);
        }
    }
}
.c-breadcrumb{
    z-index: 2;
    margin-top: -21px;
    position: relative;
    li{
        a{
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.33;
            color: white;
        }
        &.active{
            color: white;
        }
    }
    .breadcrumb{
        padding: 1.2rem 0 1.2rem 3.8rem;
        background-color: #B50E15;
        &-item + .breadcrumb-item{
            &::before{
                color: white;
                content: ">>";
            }
        }
    }
}
.c-list{
    &__item{
        margin: 0 auto;
    }
    &__inner{
        @include flex;
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25);
        margin-bottom: 3.1rem;
    }
    &__img{
        width: 276px;
        height: auto;
        text-align: center;
        img{
            margin: 0 auto;
            text-align: center;
            object-fit: cover;
        }
        @include sp{
            width: 100%;
        }
    }
    &__content{
        padding: 20px 19px;
        position: relative;
        width: calc(100% - 276px);
        @include sp{
            width: 100%;
        }
    }
    &__sub{
        color: #E0E0E0;
        font-weight: bold;
        font-size: 1.4rem; 
        line-height: 1.375;  
    }
    &__ttl{
        font-size: 1.8rem;
        line-height: 1.38; 
        font-weight: 800;
        color:black;
    }
    &__txt{
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.375;
        margin-top: 4px;
        font-style: normal;
        color:black;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__author{
        position: absolute;
        bottom: 1.8rem;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.333;
        color:black;
        @include sp{
            position: static;
            margin-top: 1.5rem;
        }
        span{
            margin-left: 1.9rem;
            color: #E0E0E0;
            font-weight: 300;
        }
    }
}
.toc_container{
	background: rgba(255, 226, 226, 0.8);
	border-radius: 14px;
	padding: 15px 47px;
    width: fit-content;
    @include sp{
        width: 100%;
    }
	p{
		color: $color_main;
		font-weight: 800;
		font-size: 1.8rem;
        margin: 0 0 6px;
	}
    ul{
        li{
          a{
            color: #0092FC;
            font-weight: 300;
            font-size: 1.2rem;
            font-style: italic;
            &::before{
                content: url(../../assets/images/icon_next.svg);
                margin-right: 9px;
            }
          }  
        }
    }
}       
.c-review{
    .slick-initialized{
        .slick-slide {
            display: flex;
        }
    }
    &__inner{
        width: 767px;
        margin: 3rem auto;
        box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
        padding: 65px 100px;
        @include sp{
            max-width: 100%;
            padding: 5px 10px;
        }
    }
    &__item{
        @include flex-jbetween;
        align-items: flex-start;
        justify-content: center;
        @include sp{
            align-items: center;
        }
        &.slick-slide{
            display: flex;
            justify-content: space-between;
            margin: 0 10px;
        }
    }
    &__img{
        max-width: 114px;
        height: auto;
        @include sp{
            max-width: 80px; 
        }
        img{
            border-radius: 50%;
        }
    }
    &__content{
        width: calc(100% - 149px); 
        @include sp{
            width: calc(100% - 100px); 
        }
        position: relative;
        &::before{
            background-image: url(../../assets/images/tag.png);
            background-size: 75px;
            background-repeat: no-repeat;
            width: 84px;
            height: 75px;
            content: "";
            display: inline-block;
            position: absolute;
            top: 25px;
            transform: translatex(-24px);
            @include sp{
                width: 50px;
                height: 40px;
                background-size: 40px;
                left: 10px;
            }
        }
    } 
    &__name{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.375;
        &sub{
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
    &__txt{
        font-size: 1.4rem;
        font-style: italic;
        margin-top: 5px;
    }
}