footer{
    .list-unstyled{
        ul{
            li{
                margin: 8px 0;
            }
        }
    }
    .footer{
        &_bio{
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;
        }
        &_list{
            
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.5;
            li{
                margin: 16px 0;
                a{
                    color: #000000;
                    text-decoration: none;
                    transform: 0.5;
                    &:hover{
                        color: $color_main;
                    }
                }
            }
        }
        &_ttl{
            color: $color_main;
            font-style: normal;
            font-weight: 800;
            font-size: 1.8rem;
            line-height: 1.5;
            position: relative;
            z-index: 2;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: -16px;
                width: 23px;
                height: 23px;
                background-color: #FFFA2D;
                z-index: 1;
            }
            span{
                position: relative;
                z-index: 3;
            }
        }
    }
    .c-icon{
        margin-bottom: 14.62px;
        li{
            a{
                margin-right: 8.6px;
            }
        }
    }
}