/* ============ mobile view ============ */
/* ============ mobile view .end// ============ */
body.offcanvas-active {
	overflow: hidden;
}
.offcanvas-header {
	display: none;
}
.screen-darken {
	height: 100%;
	width: 0%;
	z-index: 30;
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition: opacity .2s linear, visibility 0.2s, width 2s ease-in;
}
.screen-darken.active {
	z-index: 10;
	transition: opacity .3s ease, width 0s;
	opacity: 1;
	width: 100%;
	visibility: visible;
}
.nav{
	&bar{
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		z-index: 8;
	}
	&-link{
		@include Nunito;
		font-weight: 700;
		color: $color_main;
		font-size: 1.6rem;
		line-height: 1.35;
	}
	&__mobile{
		padding: 0;
	}

}
.gg-menu{
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 16px;
	height: 16px;
  
	&::before {
	  content: "";
	  display: block;
	  box-sizing: border-box;
	  position: absolute;
	  width: 4px;
	  height: 4px;
	  background: currentColor;
	  box-shadow: 0 6px 0, 6px 6px 0, 12px 6px 0, 6px 12px 0, 12px 12px 0, 6px 0 0, 12px 0 0, 0 12px 0;
	}
  }
@include max(768px) {
	.offcanvas-header {
		display: block;
	}
	.mobile-offcanvas {
		visibility: hidden;
		transform: translateX(-100%);
		border-radius: 0;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 1200;
		width: 80%;
		overflow-y: scroll;
		overflow-x: hidden;
		transition: visibility .3s ease-in-out, transform .3s ease-in-out;
		.container {
			display: block;
		}
		.container-fluid {
			display: block;
		}
	}
	.mobile-offcanvas.show {
		visibility: visible;
		transform: translateX(0);
	}
}

