extends _layout/default

block vars
  -title        = 'Blog chi tiết - JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = false

block container
  section.c-blog 
    .c-blog__banner
      picture 
        source(srcset=path+'assets/images/chinh-sach_bao-mat.avif' type="image/avif" )
        source(srcset=path+'assets/images/chinh-sach_bao-mat.webp' type="image/webp")
        img(src=path+'assets/images/chinh-sach_bao-mat.jpg' type="image/jpg" alt="blog") 
      h1 CHÍNH SÁCH BẢO MẬT
    .c-breadcrumb.container.container__inner
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Trang chủ
          li.breadcrumb-item.active(aria-current='page') Chính sách bảo mật
  section.c-content.container.container__inner.mt-5
    .c-content__inner.padding-bottom 
      p Bảo mật thông tin là mối quan tâm hàng đầu trong thời đại công nghệ. Những công việc cần khách hàng cung cấp nhiều thông tin quan trọng như Du học, Du lịch và Định cư như JHL, việc bảo mật thông tin cho khách hàng là ưu tiên hàng đầu. 
        |Theo đó, JHL thu thập và sử dụng thông tin khách hàng nhằm mang lại những giải pháp tốt nhất cho khách hàng như:<br><br>
        |- Cung cấp thêm thông tin, giải đáp những thắc mắc của khách hàng về di trú, du lịch và du học JHL<br><br>
        |- Cùng các công ty đối tác uy tín hỗ trợ giải quyết những khó khăn trong quá trình làm việc. JHL cam kết không gây rò rỉ thông tin hay sử dụng cho mục đích trái phép với các bên thứ 3.<br> <br>
        |- Đặc biệt, JHL chỉ sử dụng thông tin khách hàng để cung cấp chất lượng dịch vụ tốt nhất, không mua hoặc bán thông tin khách hàng trái pháp luật. <br><br>
        |Khi khách hàng truy cập website và sử dụng dịch vụ, JHL sẽ thu thập thông tin dựa trên những thông tin do khách hàng trực tiếp cung cấp đến JHL và những thông tin do cookies website có được<br><br>
        |Nhằm đảm bảo môi trường thu thập, sử dụng & lưu trữ thông tin an toàn nhất cho khách hàng, JHL đảm bảo:<br><br>
        |- Thông tin cá nhân và thông tin thanh toán của khách hàng được lưu trữ an toàn trên hệ thống máy chủ bảo mật cao, chỉ được sử dụng bởi nhân viên và đối tác trong trường hợp cần thiết.<br><br>
        |- Không ai có quyền xâm phạm thông tin khách hàng trái phép vì bất kỳ mục đích nào. Trong trường hợp máy chủ bị hacker tấn công và lấy cắp thông tin, JHL sẽ có trách nhiệm thông báo cho khách hàng lẫn cơ quan chức năng điều tra sớm nhất có thể.<br><br>
        |Nếu có bất kỳ câu hỏi nào về Chính sách bảo mật, vui lòng gửi email về JHL qua hộp thư haowater111@gmail.com hoặc liên hệ trực tiếp tại 124 Trần Lựu, Phường An Phú, Quận 2.
     
block script

   