extends _layout/default

block vars
  -title        = 'Blog - JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = false

block container
  .container.h-100.py-5
    ul 
      li 
        a(href="/", taget="_black") Trang chủ
      li 
        a(href="/tuyen-dung.html", taget="_black") Tuyển dụng  
      li 
        a(href="/tuyen-dung-chi-tiet.html", taget="_black") Tuyển dụng chi tiết
      li
        a(href="/thank-page.html", taget="_black")  Thank Page
      li 
        a(href="/su-kien-tong.html", taget="_black") Sự kiện tổng 
      li 
        a(href="/service.html", target="_blank", rel="noopener noreferrer") Dịch vụ
      li 
        a(href="/lien-he.html", target="_blank", rel="noopener noreferrer") Liên hệ 
      li 
        a(href="/chinh-sach-bao-mat.html", target="_blank", rel="noopener noreferrer")  Chính sách bảo mật        
      li 
        a(href="/cau-chuyen-thanh-cong.html", target="_blank", rel="noopener noreferrer") Câu chuyện thành công 
      li 
        a(href="/cau-chuyen-thanh-cong-chi-tiet.html", target="_blank", rel="noopener noreferrer")   Câu chuyện thành công chi tiết 
      li 
        a(href="/blog", target="_blank", rel="noopener noreferrer")   Blog 
      li 
        a(href="/blog-detail.html", target="_blank", rel="noopener noreferrer")   Blog Chi tiết 
      li 
        a(href="/about-us.html", target="_blank", rel="noopener noreferrer")   Về Chúng tôi


block script

   