footer
	.container
		.row
			.col-md-6
				.row
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						p.font-weight-bold.text-uppercase.mb-4.titile_footer D&#x1ECB;ch v&#x1EE5;
						ul.list-unstyled
							li
								a(href='#dich-vu-marketing-online') Marketing Online
							li
								a(href='#dich-vu-marketing-online') Marketing Online						
							li
								a(href='#dich-vu-marketing-online') Marketing Online
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						p.font-weight-bold.text-uppercase.mb-4.titile_footer D&#x1ECB;ch v&#x1EE5;
						ul.list-unstyled
							li
								a(href='#dich-vu-marketing-online') Marketing Online
							li
								a(href='#dich-vu-marketing-online') Marketing Online						
							li
								a(href='#dich-vu-marketing-online') Marketing Online
			.col-md-6
				.row
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						p.font-weight-bold.text-uppercase.mb-4.titile_footer D&#x1ECB;ch v&#x1EE5;
						ul.list-unstyled
							li
								a(href='#dich-vu-marketing-online') Marketing Online
							li
								a(href='#dich-vu-marketing-online') Marketing Online						
							li
								a(href='#dich-vu-marketing-online') Marketing Online
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						p.font-weight-bold.text-uppercase.mb-4.titile_footer D&#x1ECB;ch v&#x1EE5;
						ul.list-unstyled
							li
								a(href='#dich-vu-marketing-online') Marketing Online
							li
								a(href='#dich-vu-marketing-online') Marketing Online						
							li
								a(href='#dich-vu-marketing-online') Marketing Online								
				
							