footer
	.footer_call
		p Gọi ngay để nhận tư vấn 
		a(href)
			span
				svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M4.5 0H1C0.45 0 0 0.45 0 1C0 10.39 7.61 18 17 18C17.55 18 18 17.55 18 17V13.51C18 12.96 17.55 12.51 17 12.51C15.76 12.51 14.55 12.31 13.43 11.94C13.33 11.9 13.22 11.89 13.12 11.89C12.86 11.89 12.61 11.99 12.41 12.18L10.21 14.38C7.38 12.93 5.06 10.62 3.62 7.79L5.82 5.59C6.1 5.31 6.18 4.92 6.07 4.57C5.7 3.45 5.5 2.25 5.5 1C5.5 0.45 5.05 0 4.5 0Z' fill='#730C0C')
			span (+84) 0949111293
	.footer_bottom
		.container
			.row
				.col-md-6.col-lg-4.mx-auto.my-md-4.my-0.mt-4.mb-1
					img(src="assets/images/jhl_logo.png", alt="JHL logo")
					p.mt-5.mb-4.footer_bio Founded in 1992 by Jean François Harvey, Harvey Law Group (HLG) has quickly evolved into a leading multinational law firm that has developed a worldwide reputation amongst discerning businesses, individuals and governments across Canada, Asia, ...
					ul.d-flex.mt-4.mb-2.c-icon 
						li
							a(href="#")
								img(src="assets/images/logo-fb.png", alt="logo facebook")
						li 
							a.pl-4(href="#")
								img(src="assets/images/logo-tw.png", alt="logo tw")
						li 
							a.pl-4(href="#")
								img(src="assets/images/logo-yt.png", alt="logo youtube")
					.footer-copyright.pt-2.small Copyright © 2021 JHL			
				.col-md-6.col-lg.mx-auto.my-md-4.my-0.mt-4.mb-1
					p.font-weight-bold.text-uppercase.mb-4.footer_ttl
						span CHƯƠNG TRÌNH
					ul.footer_list
						li
							a(href='#') Định cư Mỹ - EB3
						li
							a(href='#dich-vu-marketing-online') Định cư diện làm việc Canada						
						li
							a(href='#dich-vu-marketing-online') Visa Du học Mỹ
						li
							a(href="#") Visa Công tác/ Du lịch Mỹ
						li
							a(href="#") Visa Du học Canada
						li
							a(href="#") Visa Công tác/ Du lịch Canada
				.col-md-6.col-lg.mx-auto.my-md-4.my-0.mt-4.mb-1
					p.font-weight-bold.text-uppercase.mb-4.footer_ttl
						span GIỚI THIỆU
					ul.footer_list
						li
							a(href=path+'about-us.html') Về JHL
						li
							a(href='#') Dịch vụ JHL						
						li
							a(href='#') Visa Du học Mỹ
						li
							a(href='#') Câu chuyện thành công						
						li
							a(href=path + 'tuyen-dung.html') Tuyển dụng
						li
							a(href='#') Chính sách bảo mật
				.col-md-6.col-lg.mx-auto.my-md-4.my-0.mt-4.mb-1
							p.font-weight-bold.text-uppercase.mb-4.footer_ttl
								span LIÊN HỆ
							ul.footer_list
								li
									a(href='#') (+84) 0949111293 
								li
									a(href='#') haowater111@gmail.com						
								li
									a(href='#') 124 Trần Lựu, Phường An Phú, Quận 2
	

				
							