footer
	.container
		.row
			.col-lg-6.col-md-12
				.row
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						img(src="assets/images/jhl_logo.png", alt="JHL logo")
						p.mt-3.mb-3.footer_bio Founded in 1992 by Jean François Harvey, Harvey Law Group (HLG) has quickly evolved into a leading multinational law firm that has developed a worldwide reputation amongst discerning businesses, individuals and governments across Canada, Asia, ...
						ul.d-flex.mt-3.mb-3.c-icon 
							li
								a(href="#")
									img(src="assets/images/logo-fb.png", alt="logo facebook")
							li 
								a.pl-4(href="#")
									img(src="assets/images/logo-tw.png", alt="logo tw")
							li 
								a.pl-4(href="#")
									img(src="assets/images/logo-yt.png", alt="logo youtube")
						.footer-copyright.p-0.small
							| Copyright © 2021 JHL
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						p.font-weight-bold.text-uppercase.mb-4.footer_ttl
							span CHƯƠNG TRÌNH
						ul.footer_list
							li
								a(href='#') Định cư Mỹ - EB3
							li
								a(href='#dich-vu-marketing-online') Định cư diện làm việc Canada						
							li
								a(href='#dich-vu-marketing-online') Visa Du học Mỹ
							li
								a(href="#") Visa Công tác/ Du lịch Mỹ
							li
								a(href="#") Visa Du học Canada
							li
								a(href="#") Visa Công tác/ Du lịch Canada		

			.col-lg-6.col-md-12
				.row
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						p.font-weight-bold.text-uppercase.mb-4.footer_ttl
							span GIỚI THIỆU
						ul.footer_list
							li
								a(href='#') Về JHL
							li
								a(href='#') Dịch vụ JHL						
							li
								a(href='#') Visa Du học Mỹ
							li
								a(href='#') Câu chuyện thành công						
							li
								a(href='#') Tuyển dụng
							li
								a(href='#') Chính sách bảo mật					
					.col-md-6.col-lg-6.mx-auto.my-md-4.my-0.mt-4.mb-1
						p.font-weight-bold.text-uppercase.mb-4.footer_ttl
							span LIÊN HỆ
						ul.footer_list
							li
								a(href='#') (+84) 0949111293 
							li
								a(href='#') haowater111@gmail.com						
							li
								a(href='#') 124 Trần Lựu, Phường An Phú, Quận 2								
				
							