nav#navbar_main.mobile-offcanvas.navbar.navbar-expand-lg
  .container
    .offcanvas-header
      button.btn-close.float-end
    a.navbar-brand(href='#') 
      img(src=path+'assets/images/jhl_logo.png' alt="JHL logo")
    ul.navbar-nav.w-100.justify-content-between
      li.nav-item.active
        a.nav-link(href='#') Định cư quốc tế 
      li.nav-item
        a.nav-link(href='#')  Giới thiệu 
      li.nav-item
        a.nav-link(href='#')  Tin tức & sự kiện   
      li.nav-item
        a.nav-link(href='#')  Liên hệ
span.screen-darken